<div id="<%= dom_id job %>">
  <div>
    <strong>Title:</strong>
    <%= job.title %>
  </div>

  <div>
    <strong>Organization name:</strong>
    <%= job.organization_name %>
  </div>

  <div>
    <strong>Deadline:</strong>
    <%= job.deadline %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= job.start_date %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= job.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= job.status %>
  </div>

</div>
