<div id="<%= dom_id project %>">
  <div>
    <strong>Name:</strong>
    <%= project.name %>
  </div>

  <div>
    <strong>Github link:</strong>
    <%= project.github_link %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= project.description %>
  </div>

  <div>
    <strong>Skills:</strong>
    <%= project.skills %>
  </div>

</div>
